
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

node_modules/
dist/

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Ignore all the yarn.lock files except the one at root
yarn.lock
!/yarn.lock

package.lock

.idea
/.idea/
dist
/sdk/src

.env.*
/sdk/

/coverage/
